@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="POST" action="Table">
        How many Prime Numbers? <input type="number" name="dimension" />
        <input type="submit" />
    </form>
</div>
</body>
</html>